.item-detail-container{
    height: calc(100vh - 60px);
    background-image: linear-gradient(195deg, #61716c 0, #546c67 12.5%, #466662 25%, #35605d 37.5%, #1f5959 50%, #005256 62.5%, #004b54 75%, #004553 87.5%, #003f52 100%);
    background-repeat: cover;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.title-detail{
    font-family: Helvetica;
    font-size: 30px;
}

.div-contador{
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    margin-top: -35px
}

.span-contador{
    margin: 15px;
    font-weight: bold;
}

.button-contador{
    padding: 10px;
    font-family: Helvetica;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: grey;
    font-weight: bold;
    height: 100%;
}

.button-contador:hover{
    cursor: pointer;
}

.button-agregar{
    background-color: rgb(29, 97, 29);
    border-radius: 5px;
    margin-top: 5px;
    padding: 15px;
    font-weight: bold;
    border: none
}

.button-agregar:hover{
    cursor: pointer;
    background-color: rgb(25, 139, 25);
}

.button-disabled{
    background-color: rgb(29, 97, 29);
    border-radius: 5px;
    margin-top: 5px;
    padding: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
