.item-detail-container{
    height: 88.3vh;
    background-image: url('../../Images/Productos.jpg');
    background-repeat: cover;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.title-detail{
    font-family: Helvetica;
    font-size: 30px;
}
