.itemlist-container{
    height: calc(100vh - 60px);
    width: 100%;
    background-image: linear-gradient(195deg, #61716c 0, #546c67 12.5%, #466662 25%, #35605d 37.5%, #1f5959 50%, #005256 62.5%, #004b54 75%, #004553 87.5%, #003f52 100%);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.div-title{
    font-family: Helvetica;
    font-size: 30px;
    align-items: center;
}

.loading{
    height: 40px;
    width: 40px;
    margin-top: 50px;
}
