.itemlist-container{
    height: calc(100vh - 60px);
    width: 100%;
    background-image: url('../../Images/Productos.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.div-title{
    font-family: Helvetica;
    font-size: 30px;
    align-items: center;
}
