.about-container{
    position: absolute;
    height: calc(100vh - 60px);
    background: url('../../Images/About.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    font-family:bold Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
    background-color: darkgrey;
    opacity: 85%;
    margin-bottom: 0;
    margin-left:15px;
    margin-right: 15px;
    border-radius: 5px 5px 0px 0px;
}

.parrafo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: darkgrey;
    opacity: 85%;
    margin-top: 0px;
    margin-left:15px;
    margin-right: 15px;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
}